body {
    color: #2c3e50;
}

table {
    th, td {
        font-size: inherit;
        border: none;
    }
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    :empty {
        display: none;
    }
}
